<!DOCTYPE html>
<html>
<head>
  <title>Type Life</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montezeffect=3d" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Cinzel+Decorative|Gruppo|IM+Fell+English|Six+Caps|Yesteryear" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Diplomata+SC|Faster+One|Metal+Mania|Modak|Monofett|Montserrat+Subrayada|Patrick+Hand+SC|Pirata+One" rel="stylesheet">
</head>
<body>
<%= yield %>
</body>
</html>
